VisualNovel/Assets/Resources/data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Scene">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element maxOccurs="unbounded" name="Text">
                  <xs:complexType>
                    <xs:attribute name="talker" type="xs:string" use="required" />
                    <xs:attribute name="standing" type="xs:string" use="required" />
                    <xs:attribute name="string" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="Select">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="Case">
                        <xs:complexType>
                          <xs:attribute name="goto" type="xs:string" use="required" />
                          <xs:attribute name="string" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="talker" type="xs:string" use="required" />
                    <xs:attribute name="standing" type="xs:string" use="required" />
                    <xs:attribute name="string" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="sid" type="xs:string" use="required" />
            <xs:attribute name="background" type="xs:string" use="required" />
            <xs:attribute name="next" type="xs:string" use="required" />
            <xs:attribute name="bgm" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>